.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.botao {
  width: 50%;
  height: 3em;
  margin: 2em 0;
  color: white;
  background-color: indigo;
  cursor: pointer;
}

.imagem {
  height: 70vh;
}

.congratulations {
  padding: 1em;
  font-weight: bold;
  font-size: 24px;
  height: 100%;
}
