.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.botao {
  width: 50%;
  height: 3em;
  margin: 2em 0;
  color: white;
  background-color: indigo;
  cursor: pointer;
}

.imagem {
  height: 80vh;
}
